@charset "utf-8";
/* CSS Document */

header{background-color:black;
overflow:hidden;
padding:0}
ul{left:0px;
position:relative;
padding:0;}
li{list-style-type:none;
float:left;
width:70px;
height:30px;
text-align: center;
margin:0;
padding-left: 0px;
	
}
a{text-decoration: none;
font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
background:black;
color:white;
}

.clear{clear:both}
.col1{column-count: 4;
column-rule:double;
text-align:justify}
h1{column-span: all}
footer{background-color: black;
background-size:cover;
color:white;
align-content: center;
text-align:center }